// MAIN COLORS, MADE IN ADOBE COLOR (COMPOUND RULES)
$main-grey:         #C8CEDE;
$comp-light-purple: #8D82AB; 
$comp-dark-purple:  #33187A;
$comp-orange:       #E49B27;
$comp-brown:        #AB9580;


body {
  background: $main-grey;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue';
}